	
	
	body{
		background-color: #C94A4A;
		background-repeat:no-repeat;
		background-size:cover;
		padding-bottom: none;
		border-bottom: none;
	}

	
	.whole {

		left: 40px;
		top: 80px;
		padding-top: 100px;
		padding-left: 200px;
		text-align: center;
		position: absolute;
		font: 40px Courier New, Courier, monospace;
	}
	
	.navBar{
		
	}
		
	#nav{
		float:right;
		list-style: none;

	}
	#nav li{
		display: inline;
		padding-left: 10px;
	
	}
	
	#nav a {
		text-decoration:none;
	}
	
	#nav li a:hover{
		color:white;
	}
	
	
	
		
		
		